<% layout('/layouts/boilerplate') %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit Your Listings</h3>

            <form action="/listings/<%=listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
               
                <div class="mb-3">
                    <label for="image" class="form-lable">Image</label>
                    <input name="listing[image]" value="<%= listing.image.url %>" type="link/text" class="form-control" required>
                    <div class="invalid-feedback">
                        Image URL is require .
                      </div>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-lable">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        Enter a good title
                      </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-lable">Description</label>
                    <textarea name="listing[description]" class="form-control" type="text" required>
                    <%= listing.description %> </textarea>
                    <div class="invalid-feedback">
                        require minimum 150 words of description.
                      </div>
                </div>


                <div class="row ">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-lable">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                        <div class="invalid-feedback">
                            enter resoneable amount
                          </div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-lable">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a valid Country.
                          </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-lable">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a valid zip code and landmark.
                      </div>
                </div>

                <button type="submit" class="btn btn-dark edit-btn mt-3">Submit</button>
            </form>

        </div>
    </div>